{% extends "base.html" %}

{% block content %}
{% for post in posts %}
<article class="type-{{post.type}}">
  <h1><a href="{{post.computed_link}}">{{post.title}}</a></h1>
  <div class="subtitle">
  {% if post.posted_info %}
  <time>{{post.verb}} on {{post.posted_info.formatted}}</time>
  {% endif %}
  {% if post.link %}
  <a class="permalink" href="{{post.permalink}}"></a>
  {% endif %}
  </div>
  <p>
    {{post.snip}}
  </p>
  {% if post.is_long %}
  <a href="{{post.permalink}}" class="readmore" title="Continue reading..."></a>
  {% endif %}
</article>
{% endfor %}

<a class="older-posts" href="/archive/posts">Older posts &rarr;</a>
{% endblock %}
